<div class="picture">
  <% new_or_existing = picture.new_record? ? 'new' : 'existing' %>
  <% prefix = "artwork[#{new_or_existing}_picture_attributes][]" %>
  <% fields_for(prefix, picture ) do |picture_form| -%>
  <p>
    Image:   <%= picture_form.file_field :image %>
    <%= link_to_function "remove" , "$(this).up('.picture').remove()" %>
  </p>
  <% end -%>
</div>

<!-- :url => user_path, -->
