        <li>
            <a class="thumb" name="optionalCustomIdentifier" href="path/to/slide" title="your image title">
      <%= image_tag(artwork_gallerific_item.public_filename) %>
            </a>
            <div class="caption">
                (Any html can go here)
            </div>
        </li>
