<h1>Contact</h1>
<p>
Press: <a href="mailto:press@vadamo">press@vadamo.com</a></p>
<P>Support: <a href="mailto:support@vadamo">support@vadamo.com</a></p>

<P>Join us on <a href= "http://www.facebook.com/pages/Vadamocom/117768594929299">Facebook</a></p>
</p>




