<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Vadamo.com | Your online, social connection to the art world.</title>

<%= csrf_meta_tag %>

<meta content="Vadamo is your online, social connection to the art world." name="description">

</head>

<body>
  <p>
    Welcome to Vadamo.com. Under construction.
  </p>

</body>





