<% if signed_in? %>
  <table class="front">
    <tr>
      <td class="sidebar round">
        <%= render 'pages/user_info' %>
      </td>
    </tr>
    <tr></tr>
    <tr>
      <td class="main">
	<h2 class="artwork">Show me what you got</h2>
	add link here to create a new artwork
      </td>
    </tr>
    <tr>
      <td>
	<%= render 'pages/artwork_feed' %>
      </td>
    </tr>
  </table>

<!-- hello -->
<!-- percrentequals render 'pages/artwork_gallerific' -->
<!-- end hello -->

<% else %>
  <p>
    Welcome to Vadamo.com, the online marketplace for art. Vadamo is currently in alpha and under heavy construction. 
  </p>
  <%= link_to "Sign up now!", signup_url, :class => "signup_button round" %>
<% end %>
