<% if signed_in? %>
<%= render 'pages/user_info' %>
  <table class="front">
    <tr>
      <td class="main">
	<h2 class="artwork">What would you like to do?</h2>
      </td>
    </tr>
    <tr><td>Add a new piece of art.</td></tr>
    <tr><td>Artstream (Recent uploads, recent activity)</td></tr>
    <tr><td>Dashboard</td></tr>
    <tr><td>My lists/contacts</td></tr>
    <tr><td>Browse art/Lists/groups</td></tr>
    <tr><td>Social integration stuff</td></tr>
    <tr><td>An ad</td></tr>
    <tr><td><%= render 'pages/artwork_feed' %></td></tr>
  </table>

<!-- hello -->
<!-- percrentequals render 'pages/artwork_gallerific' -->
<!-- end hello -->

<% else %>
  <p>
    Welcome to Vadamo.com, the online marketplace for art. Vadamo is currently under construction. Please add your email address to be added to the list for our private beta, we will contact you soon!x 
  </p>
  <%= link_to "Sign up now!", signup_url, :class => "signup_button round" %>
<% end %>
