<head> 
    <title>Vadamo :: Privacy Policy</title> 
</head> 

<p><strong>Vadamo Privacy Policy</strong></p> 
 
<p><strong>What This Privacy Policy Covers
</p>
        
<p>This privacy policy covers the use of the web site located at 
    <a href='http://www.vadamo.com'>http://www.vadamo.com</a> and the services 
    provided by Vadamo, Inc. ("Vadamo"), including how Vadamo treats personal 
    information that Vadamo collects and receives. Pursuant to Vadamo's Terms of Use, 
    you must be 18 years and older to use this site or have permission from a 
    legal guardian. Therefore, this policy makes no provision for individuals 
    under 18 years old.  This policy does not apply to the practices of third 
    parties that Vadamo does not own or control, or individuals that Vadamo does 
    not employ or manage.</p> 
 
<p>Effective Date: 05/01/2010</p> 
     
<p>Vadamo, Inc. complies with the EU Safe Harbor framework set forth by the 
    Department of Commerce regarding the collection, use, and retention of 
    data from the European Union.</p> 
    
<p><strong>Information Collection and How it is Used</strong></p> 
<p>General Information:</p> 
    
<ul> 
    <li>Vadamo will not sell or disclose your name or email address to third 
        parties without your explicit consent, except as specified in this 
        privacy policy.</li> 
    <li>Your username, Vadamo ID or alias is displayed throughout Vadamo (and so 
        available to the public) and is connected to all of your Vadamo activity. 
        Other people can see your purchases, items for sale, store, feedback, 
        ratings and associated comments.
    <li>Vadamo collects personal information when you register to use Vadamo 
        services or to post content on Vadamo. At registration you are asked for 
        your email address and certain other optional information.
    <li>If you would like to obtain a Seller account, Vadamo will ask for your 
        billing address, phone number, and credit card information. 
    <li>Vadamo automatically receives and records information on our server logs 
        from your browser, including your IP address, cookies, and the pages you 
        request. This data is only used in the aggregate.
    <li>Vadamo uses information for the following general purposes: products and 
        services provisioning, billing, identification and authentication, 
        services improvement, contact, research, and anonymous reporting. IP 
        addresses are automatically reported by your browser each time you view 
        a web page. Your IP address is stored in Vadamo's user registration 
        databases when you register with Vadamo. IP addresses may be used for 
        various research purposes.
</ul> 
 
<p><strong>Service-related Announcements </strong></p> 
<p>Vadamo will send you a welcome/confirmation email when you sign up for Vadamo's 
    services. Receipt of this email is required for using Vadamo's services.</p> 
    
<p>Vadamo will send you service-related announcements on rare occasions when it 
    is necessary to do so.</p> 
    
<p>You may not opt-out of service-related communications, which are not 
    promotional in nature. If you do not wish to receive them, you have the 
    option to deactivate your account by emailing support@vadamo.com from the 
    email address you signed up with.</p> 
    
<p><strong>Administrative Messages</strong></p> 
<p>Vadamo may periodically email you with administrative messages. Vadamo will not 
    sell or rent your personal information to third parties for their marketing 
    purposes without your explicit consent. Your information may be combined 
    with information Vadamo collects from other companies and used to improve and 
    personalize services, content and advertising. If you don't wish to receive 
    administrative messages or participate in these programs, simply opt-out by 
    emailing support@vadamo.com.</p> 
 
<p><strong>Newsletter Emails</strong></p> 
<p> 
Vadamo offers subscriptions to Vadamo email newsletters. To opt-in, Vadamo will ask 
for your email address and the newsletter(s) you wish to receive. This email 
address will only be used for this feature. You may change your subscription or 
unsubscribe at anytime by following the instructions contained in the email.</p> 
 
<p><strong>Friend Features</strong></p> 
<p>"Invite a Friend" is a feature in which members can send a one-time email 
    message to invite someone to join Vadamo. "Tell a Friend" allows members to 
    share information about a specific item listed on Vadamo by sending a 
    personalized email message.</p> 
    
<p>If you choose to use Vadamo's "Invite a Friend" or "Tell a Friend" features, 
    Vadamo will ask for the information needed to send the message, such as your 
    friend's email address. Vadamo will then automatically send your friend an 
    email, inviting your friend to visit the site. For the "Invite a Friend" 
    feature, Vadamo stores the information for the purpose of sending this message, 
    limiting the ability to send invitations to one per recipient-sender 
    combination and tracking the success of this feature (registration referrals). 
    Vadamo does not store "Tell a Friend" information on our servers. Your friend 
    may utilize the "unsubscribe" link in the email to opt-out of receiving 
    future "Tell a Friend" emails from Vadamo.</p> 
 
<p><strong>Choice/Opt-out</strong></p> 
<p>If you no longer wish to receive administrative messages, you may opt-out by 
    emailing support@vadamo.com. Please note that if you do not wish to receive 
    administrative messages from us, those notices will still govern your use of 
    the Vadamo website and service, and you are responsible for reviewing such 
    notices for changes.</p> 
 
<p><strong>Cookies</strong></p> 
<p>A cookie is a small amount of data, which often includes an anonymous unique 
    identifier, that is sent to your browser from a web site's computers and 
    stored on your computer's hard drive. You can configure your browser to 
    accept all cookies, reject all cookies, or notify you when a cookie is set. 
    If you reject all cookies, you will not be able to use Vadamo products or 
    services that require you to "sign in," and you may not be able to take full 
    advantage of the Vadamo service. Vadamo uses its own cookies for a number of 
    purposes, including to: Access your information when you "sign in"; keep 
    track of preferences you specify while you are using Vadamo's services; 
    display the most appropriate advertising banners, based on your interests 
    and activity on Vadamo; estimate and report Vadamo's total audience size and 
    traffic; conduct research to improve Vadamo's content and services. Vadamo 
    cookies do not collect personal information, and Vadamo does not combine 
    information collected through cookies with other personal information to 
    tell us who you are or what your username or email address is. </p> 
 
<strong>Tracking Technologies</strong> 
<p>We employ a software technology called clear gifs (a.k.a. Web Beacons/Web 
    Bugs), that help us better manage content on our site by informing us what 
    content is effective. Clear gifs are tiny graphics with a unique identifier, 
    similar in function to cookies, and are used to track the online movements 
    of Web users. In contrast to cookies, which are stored on a user's computer 
    hard drive, clear gifs are embedded invisibly on Web pages and are about the 
    size of the period at the end of this sentence. We do not tie the 
    information gathered by clear gifs to your personally identifiable 
    information. The use of cookies by our third party tracking partners is not 
    covered by our privacy statement. We do not have access or control over 
    these cookies. Our partners use session ID cookies to support our site 
    functionality such as web analytics reporting.</p> 
 
<p><strong>Information Sharing and Disclosure</strong></p> 
<p>When you post a message, your Vadamo ID or alias is visible to other users. If 
    you post personal information online that is accessible to the public, you 
    may receive unsolicited messages from other parties in return. Vadamo may be 
    required to disclose personally identifiable information under special 
    circumstances, such as to comply with subpoenas or when your actions violate 
    the Vadamo Terms of Use. Vadamo may disclose personally identifiable information 
    to parties in compliance with Vadamo's Copyright and Intellectual Property 
    Policy, as Vadamo in Vadamo's sole discretion believes necessary or appropriate 
    in connection with an investigation of fraud, intellectual property 
    infringement, piracy, or other unlawful activity. In such events, Vadamo may 
    disclose name, street address, city, state, zip code, country, phone number, 
    email address and company name. Vadamo may share aggregated demographic 
    information with business partners.</p> 
    
<p>Vadamo is affiliated with a variety of businesses and works closely with them.  
    These businesses may operate stores on the Vadamo website or sell items to you 
    from the Vadamo website. Vadamo may also provide services or sell products 
    jointly with affiliated businesses. Due to the nature of Vadamo's business 
    model, when an affiliated business is associated with your transaction, you 
    will share customer information that is related to such transaction with 
    that affiliated business.</p> 
    
<p>Vadamo employs other companies and people to perform tasks on our behalf and 
    needs to share your information with them to provide products and services 
    to you. Examples include but are not limited to fulfilling orders, handling 
    billing disputes and collections, analyzing data, providing marketing 
    assistance and providing customer service.</p> 
    
<p>Vadamo will not rent, sell, or share personal information about you with 
    nonaffiliated parties except as specified in this Privacy Policy to provide 
    products or services you have requested or when Vadamo has your permission. 
    It may be necessary to share information in order to investigate, prevent, 
    or take action regarding illegal activities, suspected fraud, situations 
    involving potential threats to the physical safety of any person, violations 
    of Vadamo's Terms of Use, as specified in this Privacy Policy or as otherwise 
    required by law. In some cases, Vadamo may choose to buy or sell assets. In 
    these types of transactions, customer information is typically one of the 
    business assets that is transferred. Vadamo will transfer information about 
    you if Vadamo is acquired by or merged with another company. In this event, 
    Vadamo will notify you by email or by putting a prominent notice on the Vadamo 
    web site before information about you is transferred and becomes subject to 
    a different privacy policy.</p> 
 
<p>As part of the buying and selling process, you may obtain another Vadamo user's 
    email address, shipping address and/or other information. Pursuant to Vadamo's 
    Terms of Use, you have a limited license to use this information. This 
    information should only be used for Vadamo-related communications or for 
    Vadamo-facilitated transactions. Vadamo has not granted you a license to use the 
    information for unsolicited commercial messages. Without limiting the 
    foregoing, without express consent from the user, you are not licensed to 
    add any Vadamo user to your email or physical mail list.</p> 
 
<p>Without limiting the above, in an effort to respect your privacy and Vadamo's 
    ability to keep the community free from bad actors, Vadamo will not otherwise 
    disclose your personal information to law enforcement, other government 
    officials, or other third parties without a subpoena, court order, legal 
    process, or substantially similar legal procedure, except when Vadamo believes 
    in good faith that the disclosure of information is necessary to protect 
    Vadamo's rights, prevent imminent physical harm or financial loss, or to 
    report suspected illegal activity.</p> 
    
<p><strong>Forums / Chat Rooms</strong></p> 
<p>If you use a forum or chat room on this site, you should be aware that any 
    personally identifiable information you submit there can be read, collected, 
    or used by others or could be used to send you unsolicited messages. Vadamo is 
    not responsible for the personally identifiable information you choose to 
    submit in these forums.</p> 
    
<p><strong>Third Parties</strong></p> 
<p>Except as otherwise expressly included in this Privacy Policy, this document 
    addresses only the use and disclosure of information Vadamo collects from you. 
    If you disclose your information to others, whether they are buyers or 
    sellers on Vadamo or throughout the internet, different rules may apply to 
    their use or disclosure of the information you disclose to them. Vadamo does 
    not control the privacy policies of third parties, and you are subject to 
    the privacy policies of those third parties where applicable. Vadamo is not 
    responsible for the privacy or security practices of other websites on the 
    Internet, even those linked to or from the Vadamo site. Vadamo encourages you to 
    ask questions before you disclose your personal information to others.</p> 
    
<p><strong>Editing and Deleting Account Information</strong></p> 
<p>You can change your Vadamo Account Information (except your username), at any 
    time. Vadamo may send you certain communications relating to the Vadamo service, 
    such as service-related announcements and administrative messages that are 
    considered part of your Vadamo account. You can delete your Vadamo account by 
    emailing support@vadamo.com. Please note that your identification, billing and 
    contact information may remain in Vadamo's records for some period.</p> 
    
<p>Vadamo limits access to personal information about you to employees who Vadamo 
    believes reasonably need to come into contact with that information to 
    provide products or services to you or in order to do their jobs. Your Vadamo 
    Account Information is password-protected.</p> 
    
<p>If your personally identifiable information changes you may correct or update 
    it by making the change on Your Vadamo Page. You may delete or deactivate your 
    account by emailing Customer Support at support@vadamo.com or by postal mail 
    at the contact information listed below. Vadamo will respond to your request 
    within 10-20 business days.</p> 
 
<p><strong>Security</strong></p> 
<p>The security of your personal information is important to us. Your Vadamo 
    account information is protected by a password for your privacy and security.  
    You need to work to protect against unauthorized access to your password and 
    to your computer by signing off once you have finished using a shared 
    computer. When you enter sensitive information (such as credit card number) 
    for registration Vadamo encrypts that information using secure socket layer 
    technology (SSL). Vadamo follows generally accepted industry standards to 
    protect the personal information submitted to us, both during transmission 
    and once Vadamo receives it. No method of transmission over the Internet, or 
    method of electronic storage, is 100% secure. Therefore, while Vadamo strives 
    to use commercially acceptable means to protect your personal information, 
    Vadamo cannot guarantee its absolute security. If you have any questions about 
    security on Vadamo's Web site, you can email Vadamo at support@vadamo.com.</p> 
    
<p><strong>Changes to this Privacy Policy</strong></p> 
<p>If the privacy policy is changed, Vadamo will post changes so that you are 
    aware of those changes. Vadamo reserves the right to modify this privacy 
    statement at any time, so please review it frequently. If Vadamo makes 
    material changes to this policy you will be notified here, by email, or 
    other places Vadamo deems appropriate.</p> 
    
<p><strong>Questions</strong><br> 
<p>If you have questions or suggestions you can contact Vadamo's Support Team <a href="http://help.vadamo.com/app/ask/">via our Help site</a> 

